/* TEST STYLING */

.progress-bar {
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #333;
    background-color: white;
    z-index: 0;
}

.filler {
    background: #1DA598;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

.button-submit-signup-show {
    display: block;
}

.button-submit-signup-hide {
    display: none;
}