
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
margin-top:-27px;
font-weight: bold;
font-size: 36px;
text-align: center;
padding: 70px;
border-radius: 0 0 26px 26px;
height: 100%;
width: 100%;
color: var(--clr-light);
background-color: var(--clr-darkblue);
margin-bottom: 50px;
box-shadow: 0 0.6rem 1rem var(--clr-grey);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.border1{
    /* border: unset;   */
    /* border-bottom: 3px solid #8a8683; */
    padding: 10px;
    margin-bottom: 35px;
    border: 0;
    border-bottom: 1px solid var(--clr-darkblue);
    border-radius: 0;
    width: 100%;
    height: 1.46rem;
    padding: 0 0 0.25rem 0;
    font-size: 1rem;
    color: var(--clr-black);
}


.signup-login{
    padding-top: 30px;
    font-size: 14px;
    color: var(--clr-grey);
}

.suhere{
    outline: none;
    text-decoration:underline;
    color: var(--clr-black);
}
/* a:link, a:visited, a:active {
    text-decoration:none;
} */

.btn-login2{
    font-size:19px;
    color:var(--clr-light);
    text-decoration:none;
    border: none;
    padding: 0.6rem 3rem;
    border-radius:11px ;
    background-color:var(--clr-lightblue);
    margin-top:15px;
    font-weight: bold; 
}
.align-remember{
    display: flex;
    flex-direction: row;
    font-size: 14px ;
    margin-top:15px;
    margin-bottom: 30px;
}

.forgotpass{
    padding-left: 30px;
    text-decoration:underline;
    outline: none;
    color: var(--clr-grey);
}

.hawai{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.logo-login{
    width: 20px;
    height: 23px;
}

.logo-login1{
    width: 20px;
    height: 23.5px;
}

.checkbox-login{
    margin-top:4px;
}
