/* GENERAL LAYOUT */
/* rombo --> clip-path: polygon(50% 15%, 75% 30%, 75% 70%, 51% 85%, 50% 85%, 25% 70%, 25% 30%); */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  
  --clr-light: #fff;
	--clr-darkblue: #1E2434;
  --clr-accent: #16e0bd;
  
  --fs-h1: 36px;
	--fs-h2: 18px;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  padding-top: 4rem;
}


/* NAVBAR STYLING */

 .topnav {
    background-color: rgb(37, 37, 182);
    overflow: hidden;
    position: fixed;
    width: 100%;
    box-shadow: 0 0.3rem 1rem darkgray;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .logout {
    float: left;
    color: #f2f2f2;
    font-size: 17px;
    padding: 7px 25px;
  }

  #logo-container {
    padding: 3px 16px;
  }

  .logo {
    width: 2rem;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 7px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropbtn i {
    margin-left: 3px;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .logout:hover, .dropdown:hover .dropbtn {
    background-color: rgb(23, 23, 151);
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @keyframes background-change {
    to { background: var(--clr-accent) ; }
}

@keyframes load {
  0% {  background-position: top left;
    padding: 50px;
  color: #000; }

  100% { background-position: bottom left; 
    padding: 10px;
    color: #fff; }
}

#k {
  border: 5px solid var(--clr-accent);
  background: linear-gradient(to top, var(--clr-accent) 50%, #fff 50%);
  background-size: 100% 200%;
  transition: all 1s ease-in;
  
  clip-path: polygon(50% 15%, 85% 30%, 85% 70%, 51% 85%, 50% 85%, 15% 70%, 15% 30%);
  animation: load 2000ms forwards;
}



/* .title {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 70px;
  width: 500px;
}

#k {
  border: 2px var(--clr-accent) solid;
  color: #fff;
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 50px;
  padding: 10px 20px;
  background: var(--clr-accent);
  clip-path: polygon(50% 15%, 75% 30%, 75% 70%, 51% 85%, 50% 85%, 25% 70%, 25% 30%);
  height: 0;
} */

  /* #k{
    position: relative;
    border: 20px var(--clr-accent) solid;
    padding: 0px 10px;
    border-radius: 50px;
    clip-path: polygon(50% 15%, 75% 30%, 75% 70%, 51% 85%, 50% 85%, 25% 70%, 25% 30%);
    animation: background-change 1500ms forwards;
  }

  #k:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0px;
    width: 100%;
    background-color: var(--clr-accent); 
    transition: all 1s;
    z-index: -1;
  }
  
  #k:after {
    height: 100%;
    background-color: var(--clr-accent); 
    transition: all 1s;
  } */

 
  
  @media screen and (max-width: 600px) {
    .topnav {
      display: inline-block;
    }

    .topnav a, .dropdown .dropbtn {
      display: none;
    }

    #logo-container {
      display: inline-block;
    }

    .navbar-content-align {
      display: inline-block;
    }

    .dropdown {
      display: none;
    }

    .dropbtn {
      background-color: rgb(23, 23, 151);
      color: #ddd;
      text-align: left;
      padding-left: 1rem;
    }

    .topnav button.icon {
      float: right;
      display: block;
      color: #ddd;
    }

    .mobile-dropdown {
      display:flex;
      flex-direction: column;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive button.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      border-top: .07rem solid #ddd;
    }

    .topnav.responsive .dropdown {
      float: none;
    }

    .topnav.responsive .dropdown-content-show {
      position: relative;
      display: block;
      background-color: rgb(91, 91, 243);
    }

    .topnav.responsive .dropdown-content {
      position: absolute;
      display: block;
    }
    .topnav.responsive .dropdown {
      display: block;
      width: 100%;
      text-align: left;
    }
  } 

 