/* GENERAL LAYOUT */
/* rombo --> clip-path: polygon(50% 15%, 75% 30%, 75% 70%, 51% 85%, 50% 85%, 25% 70%, 25% 30%); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
  /*Título Montse y body Roboto */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Montserrat', monospace;
  
  --clr-light: #fff;
	--clr-darkblue: #1E2434;
  --clr-accent: #2DC5FA;
  --clr-text: rgba(129, 130, 138, 1);
  --clr-light-grey: #FAFAFA;
  
  --fs-h1: 36px;
	--fs-h2: 18px;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
}

* {
  margin: 0;
  padding: 0;
}


body{
  font-family: var(--ff-primary); /*Roboto*/
  color: var(--clr-darkblue); 
  font-size: var(--fs-body); /*16px*/
}

h1,h2,h3,h4,h5{
  font-family: var(--ff-secondary);
}

.App {
  padding-top: 4rem;
}

/* links for 'do you already have an account?' or 'don't have an account?'*/
.links{
    color: var(--clr-darkblue);
    text-decoration: underline;
}

.links:hover{
  color: var(--clr-text)
}

.light-links{
  color: var(--clr-light);
  text-decoration: none;
  outline: none;

}


.light-links:hover{
  color: var(--clr-text);
  text-decoration: underline;

}

.big-links:hover{
  transition: 1s all ease-in;
  text-decoration: none;
}

.text{
  color:var(--clr-text);
}


.highlighted{
  color: var(--clr-accent);
} 

/*BUTTONS*/
/*button for light blue*/
.btn_lightblue{
    font-size:var(--fs-h2);
    color:white;
    text-decoration:none;
    border: none;
    padding: 0.6rem 3rem;
    border-radius:11px ;
    background-color:#2DC5FA;
    margin: 20px 0 10px 0;
    font-weight: bold;
    width: 100%; 
}

.btn_darkblue{
    font-size:var(--fs-h2);
    color:white;
    text-decoration:none;
    border: none;
    padding: 0.6rem 3rem;
    border-radius:11px ;
    background-color:#2DC5FA;
    margin: 15px 0;
    font-weight: bold; 
    background-color:#1E2434;
}

 /*esta clase esta en varios componentes pero no sé si es buena idea*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlighted-container{
  padding: 25px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  background-color: rgba(229, 243, 248, 1);
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0, 0.2);
  border-radius: 10px;
  margin: 15px 0 50px 0;
}

.events-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}