/* GENERAL LAYOUT */
/* rombo --> clip-path: polygon(50% 0%, 85% 25%, 85% 75%, 50% 100%, 50% 100%, 15% 75%, 15% 25%); */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  
  --clr-light: #fff;
	--clr-dark: #303030;
  --clr-accent: #16e0bd;
  
  --fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  padding-top: 4rem;
}


/* NAVBAR STYLING */

 .topnav {
    background-color: rgb(37, 37, 182);
    overflow: hidden;
    position: fixed;
    width: 100%;
    box-shadow: 0 0.3rem 1rem darkgray;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .logout {
    float: left;
    color: #f2f2f2;
    font-size: 17px;
    padding: 7px 25px;
  }

  #logo-container {
    padding: 3px 16px;
  }

  .logo {
    width: 2rem;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 7px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropbtn i {
    margin-left: 3px;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .logout:hover, .dropdown:hover .dropbtn {
    background-color: rgb(23, 23, 151);
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #k{
    background-color: var(--clr-accent);
    border: 10px var(--clr-accent) solid;
    padding: 0px 5px;
    border-radius: 100px;
    clip-path: polygon(50% 0%, 85% 25%, 85% 75%, 50% 100%, 50% 100%, 15% 75%, 15% 25%);
  }

  
  @media screen and (max-width: 600px) {
    .topnav {
      display: inline-block;
    }

    .topnav a, .dropdown .dropbtn {
      display: none;
    }

    #logo-container {
      display: inline-block;
    }

    .navbar-content-align {
      display: inline-block;
    }

    .dropdown {
      display: none;
    }

    .dropbtn {
      background-color: rgb(23, 23, 151);
      color: #ddd;
      text-align: left;
      padding-left: 1rem;
    }

    .topnav button.icon {
      float: right;
      display: block;
      color: #ddd;
    }

    .mobile-dropdown {
      display:flex;
      flex-direction: column;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive button.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      border-top: .07rem solid #ddd;
    }

    .topnav.responsive .dropdown {
      float: none;
    }

    .topnav.responsive .dropdown-content-show {
      position: relative;
      display: block;
      background-color: rgb(91, 91, 243);
    }

    .topnav.responsive .dropdown-content {
      position: absolute;
      display: block;
    }
    .topnav.responsive .dropdown {
      display: block;
      width: 100%;
      text-align: left;
    }
  } 

 