.konnections{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    -ms-overflow-style: none;
    width: 320px;
    padding: 20px 0;
}

.konnections::-webkit-scrollbar{
    display: none;
}
.konnections-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.konnection-card{
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-light-grey);
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0, 0.2);
    border-radius: 30px;
    justify-content: space-around;
    height: 250px;
    margin: 10px;
}

.card-image{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;
}

.rombo-image{
    width: 150px;
    clip-path: polygon(25% 25%, 50% 0, 75% 25%, 75% 75%, 50% 100%, 25% 76%);
    background-color: 5px solid var(--clr-accent);
    height: 100px;
}

.info-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.percentage{
    color: var(--clr-accent);
    font-weight: bold;
    font-size: var(--fs-h1);
}

/* .swiper-slide{
    width: 80%;
    margin-left: 50px;
}

.swiper-container{
    width: 50vh;
} */