/* TEST STYLING */

.progress_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #333;
    background-color: white;
    z-index: 0;
    padding: 10px;
}

.filler {
    background: var(--clr-accent);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

.button-submit-signup-show {
    display: block;
}

.button-submit-signup-hide {
    display: none;
}

.test-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    margin: 30px;
    background-color: var(--clr-light-grey);
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.8);
}

.answer{
    margin: 50px 0;
}

.theTest{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-test{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.test-buttons{
    display: flex;
    padding: 20px;
    align-items: center;
}