/* NAVBAR STYLING */

.navbar-container {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-menu.show {
  background-color: #343A40 ;
}

.dropdown-item {
  color: white !important;
}

.navbar-user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
}

.navbar-user-details i {
  color: white;
}

.navbar-user-details h2 {
  font-weight: bold;
}

.navbar-default-picture {
  width: 100px;
  height: 110px;
  clip-path: polygon(50% 15%, 90% 30%, 90% 70%, 51% 85%, 50% 85%, 10% 70%, 10% 30%);
}

.navbar-logo-picture {
  width: 200px;
}

.navbar-align-anon-text {
  text-align: center;
}