form{
    display: flex;
    justify-content: center;
}

.form_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px;
}
 label, input {
     margin: 15px;
 }
