
.form-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_part{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px; 
}

.upload-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 20px 0 0 0 ;
}