/* SIGNUP STYLING */

.signup-container {
    display: flex;
    flex-direction: column;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.signup-form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-signup{
    display:flex;
    flex-direction: row;
    width: 100%;
}


/* .signup-title{
font-weight: bold;
font-size: 36px;
text-align: center;
padding: 70px;
border-radius: 0 0 26px 26px;
height: 100%;
width: 100%;
color: white;
background-color: #1E2434;
margin-bottom: 50px;
box-shadow: 0 0.6rem 1rem darkgray;
} */

.signup-title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 20px;
}

.border-input{
    /* border: unset;   */
    /* border-bottom: 3px solid #8a8683; */
    padding: 10px;
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #1E2434;
    border-radius: 0;
    width: 100%;
    height: 1.46rem;
    padding: 0 0 0.25rem 0;
    font-size: 1rem;
    color: black;
}

.logo-input{
    width: 20px;
    height: 23.5px;
}

.error-input{
    color: red;
    border: 3px solid red ;
    border-radius: 1rem;
    background-color: maroon;
    padding: 10px;
}