.btn-login{
    font-size:20px;
    color:var(--clr-light);
    text-decoration:none;
    padding: 0.5rem 7rem;
    border-radius:10px ;
    background-color:var(--clr-darkblue);
    margin-top:15px;
   
}
.align-landing{
    display:flex ;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin-top:50px; 
    /* font-family:Roboto;
    font-style: normal;
    font-weight: bold; */
}

.landing-text{
    margin: 10px  35px;
}

.text-alreadyaccount{
    font-size: 12px;
    margin-top:10px;
    color: var(--clr-grey)
}

.link-login-landing{
    outline: none;
    color: var(--clr-light);
}

